In [27]:
import csv
import numpy as np
data = []
with open("./data/train/tweets2.txt.data", newline='', encoding='utf8') as file_data:
    reader = csv.reader(file_data, delimiter=";")
    for row in reader:
        data.append(row)
        #print(row)

In [28]:
# Faire plus propre en créant directement un tableau numpy TODO
data = np.array(data)
data

array([['id', 'in_reply_to_user_id_str', 'possibly_sensitive', ...,
        'user_followers_count', 'text', 'emoji'],
       ['812015924374974464', 'None', 'False', ..., '218',
        'Things got a little festive at the office #christmas2016 @ RedRock… ',
        '17'],
       ['655572731661037568', 'None', 'False', ..., '63',
        'Thanks for taking me to the OSU game @user @ Ohio Stadium ',
        '16'],
       ...,
       ['810609786492485632', 'None', 'False', ..., '260',
        'Low-quality pic, high-quality couple @ The Bluestone ', '9'],
       ['742481324477435904', 'None', 'False', ..., '727',
        'When you get thrown into the friend zone W/ @user @user baywatch85 @user ',
        '2'],
       ['772109095608328192', 'None', 'False', ..., '1431',
        '2016.09.03: ASAP Live in New York @ Barclays Center ', '11']],
      dtype='<U152')

In [29]:
import pandas as pd
pd.DataFrame(data[1:], columns=data[0]).head()

,id,in_reply_to_user_id_str,possibly_sensitive,source,created_at,retweet_count,retweeted,is_quote_status,user_friends_count,user_profile_image_url_https,user_statuses_count,user_followers_count,text,emoji
0,812015924374974464,None,False,"<a href=""http://instagram.com"" rel=""nofollow"">...",Thu Dec 22 19:24:17 +0000 2016,0,False,False,115,https://pbs.twimg.com/profile_images/116956618...,1620,218,Things got a little festive at the office #chr...,17
1,655572731661037568,None,False,"<a href=""http://instagram.com"" rel=""nofollow"">...",Sun Oct 18 02:34:53 +0000 2015,0,False,False,18,https://pbs.twimg.com/profile_images/800585799...,961,63,Thanks for taking me to the OSU game @user @ O...,16
2,693231994616938496,None,False,"<a href=""http://instagram.com"" rel=""nofollow"">...",Sat Jan 30 00:39:21 +0000 2016,0,False,False,96,https://pbs.twimg.com/profile_images/739784357...,3924,67,My baby bear @ Bubby's,1
3,655883177685327872,None,None,"<a href=""http://twitter.com/download/iphone"" r...",Sun Oct 18 23:08:29 +0000 2015,0,False,False,450,https://pbs.twimg.com/profile_images/844756677...,2258,782,@user ily ur life,0
4,812504019310706688,None,False,"<a href=""http://instagram.com"" rel=""nofollow"">...",Sat Dec 24 03:43:48 +0000 2016,0,False,False,598,https://pbs.twimg.com/profile_images/105013745...,11131,853,My man tucker2639 keepin it with the #dab at t...,15

In [30]:
X = data[1:,12]
y = data[1:,13]
from sklearn.feature_extraction.text import CountVectorizer
vect = CountVectorizer()
X_dtm = vect.fit_transform(X)

In [31]:
from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB()
%time nb.fit(X_dtm, y)

Wall time: 1.07 s

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [33]:
test=[]
with open("./data/test/us_test.text", newline='', encoding='utf8') as test_data:
    file = test_data.readlines()
    for row in file:
        test.append(row)
        #print(row)
test = np.asarray(test)
test_dtm = vect.transform(test)
nb.predict(test_dtm)

array(['6', '0', '0', ..., '0', '0', '0'], dtype='<U2')